@media (min-width: 768px) and (max-width: 991px) {
    .header-container {
        width: 85%;
    }
} 
@media (max-width: 767px) {
    .header-container {
        width: 85%;
        font-size: 170%;
    }
} 
@media (max-width: 480px) {
    .header-container {
        width: 90%;
        font-size: 140%;
        margin-bottom: 20px;
    }
}
