body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("./img/abstract-art-background-1040473.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fdf5fc;
  font-family: 'Ubuntu', sans-serif;
}
